/* -------Sections-----------------------------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    font-family: "Futura-CondensedExtraBold", sans-serif;
    font-size:16px;
}

#section-footer{
        background-color: #e1e6eb;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    

#section-middle {
    width: 100%;
    height: 1000px;
    background-color: aquamarine;
    display: flex;


}

.category {
    width: 100%; 
    height:50px;
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* --------* Divy - contenty----------------------------------------------------------------------------------------------------------------------------*/

.content-left, .content-middle, .content-right {
    background-color: white;
    align-items: center;
    display: flex;
}

.content-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* -------- Przyciski - login-----------------------------------------------------------------------------------------------------------------------------*/
.button-login {

    font-size: 13px;
    border: 0px;
    background:none;
    cursor: pointer;
    transition: transform 0.2s, text-decoration 0.2s;
    padding-right: 14px;
}

.button-login:hover {
    filter: brightness(2.5); 
}

/* -------- Przyciski - content-prawo-----------------------------------------------------------------------------------------------------------------------------*/

.button-icon {
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;  
    justify-self: center;
    transition: 0.2s ease;
    margin-right:15px;
}

.button-icon:hover {
    background-color: #bebebe;
}

.elements {
    width: 20px;
    height: 20px;
    transition: 0.2s ease;
}

.button-icon:hover .elements {
    filter: brightness(1.2); 
}

.button-icon:active .elements {
    transform: scale(0.8); 
}

/* ------------Przyciski - content-middle-----------------------------------------------------------------------------------------------------------------------*/

.category-button {
    padding-right: 40px;
    font-size: 16px;
    border: 0px;
    background:none;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: 0.2s;
}

.category-button:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/*----------Logo itp----------------------------------------------------------------------------------------------------------------------------------*/

#logo {
    width: 230px;
    height: 30px;
    background-color:none;
}



/*-------Contents-----------------------------------------------------------------------------------------------------------------------------------*/

.content-middle button {
    margin-right: 15px; 
}

